<div class="container p-4">
  <div class="row justify-content-md-center">
    <div class="row">
      {{#each videos}}
      <div class="col-sm-4 .col-lg-4.">
          <div class="card" style="width: 100%">
              <img class="card-img-top" src={{this.img}} alt="Card image cap">
              <div class="card-body">
                  <h7 class="card-title" style="color:rgb(26, 26, 26)"><b>{{this.name}}</b></h7>
                  <p class="card-text">{{this.description}}</p>
                  <a href="/videos/{{this._id}}" class="btn btn-primary">Học ngay</a>
              </div>
          </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>